<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    
         color="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">


    <testsuites>
        <testsuite name="test how travis work with codeclimate that you PHPUnit">
            <directory suffix=".php">tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    
</phpunit>